<app-spinner-overlay *ngIf="changingPassword"></app-spinner-overlay>
<mat-card>
  <mat-card-header>
    <mat-card-title>Change Your Password</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill" class="password-input">
      <mat-label>Old Password</mat-label>
      <input matInput type="password" formControlName="oldPassword" placeholder="Current Password">
    </mat-form-field>
    <mat-form-field appearance="fill" class="password-input">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword" placeholder="New Password" (input)="onPasswordInput()">
    </mat-form-field>
    <mat-form-field appearance="fill" class="password-input">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="New Password Again" (input)="onPasswordInput()">
      <mat-error>Passwords do not match!</mat-error>
    </mat-form-field>
  </form>
  <mat-divider style="margin-top: 5px"></mat-divider>
  <mat-action-row>
    <div style="display: flex">
      <div style="margin-left: auto">
        <button mat-button type="button" color="primary" [disabled]="formGroup.invalid" style="margin-top: 15px" (click)="changePassword()">Submit</button>
      </div>
    </div>
  </mat-action-row>
</mat-card>
