<h1>How can I help you?</h1>
<hr>
<p>If you have encounter any problems with the application, you can <a href="mailto:internapp.dev@gmail.com">email me</a> and I will get back to you as soon as I can.</p>
<p>Alternatively, you can also ask for help or leave a message in the <a href="https://discord.gg/CMstWtm7F3">discord server</a>. This is my (the dev) preferred method of communication, but I know not everyone likes or uses discord.</p>
<h2>Bugs</h2>
<p>For bug reports, please include at minimum the following information:</p>
<ul>
  <li>Please write <b>BUG</b> in the subject line of your email (write your message in the "bug" channel if you are contacting me through discord).</li>
  <li>The page you were on when you encountered the bug</li>
  <li>The action you performed</li>
  <li>What you expected to happen</li>
  <li>What actually happened</li>
</ul>
<p>If there's any additional information you would like to add in your bug report that you feel isn't covered by the above, please write it at the bottom of your email (or after your bug report in your discord message).</p>
<h2>Suggestions</h2>
<p>For suggestions, please include at minimum the following information: </p>
<ul>
  <li>Please write <b>SUGGESTION</b> in the subject line of your email (write your message in the "suggestions" channel if you are contacting me through discord).</li>
  <li>The page that is relevant to your suggestion (e.g. the biology application)</li>
  <li>Your suggested improvement</li>
  <li>A brief blurb on how your suggestion would improve your experience or that of others using the application</li>
</ul>
<p>If there's additional information regarding your suggestion that you don't feel is covered by the above, please write it at the bottom of your email (or after your suggestion report in your discord message).</p>
